{% extends 'aion/navigationbar.html' %}
{% load static %}
{% block content %}

<!-- This file displays the content of the website -->

<div class="container" id="about">
    <div class="row">
        <div class="carousel">
            <a class="carousel-item" href="#one!"><img src="{% static "images/watch1.jpg"%}"></a>
            <a class="carousel-item" href="#two!"><img src="{% static "images/watch2.jpg"%}"></a>
            <a class="carousel-item" href="#three!"><img src="{% static "images/watch3.jpg"%}"></a>
            <a class="carousel-item" href="#four!"><img src="{% static "images/watch4.jpg"%}"></a>
            <a class="carousel-item" href="#five!"><img src="{% static "images/watch5.jpg"%}"></a>
        </div>
    </div>
</div>
      <div id="contact">
          Contact
      </div>
<br><br>
<div class=" row main"id="home">
    
    {% for product in products %}
<!--
     <div class="row product_post">
          <div class="card">
            <div class="card-image">
             {% if product.item_photo %}
              <img class="item_photo"src="{{product.item_photo.url}}">
              {% endif %}
              
            </div>
            <div class="card-content">
              <span class="card-title textinpost">{{product.item_name}}</span>
            </div>
            <div class="card-action">
              <a href="#">$ {{product.item_price}}</a>
            </div>
          </div>
    
      </div>
-->
        <div class="item product_post">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
             {% if product.item_photo %}
                <a href="{% url 'viewproduct' product.id %}"><img class="item_photo"src="{{product.item_photo.url}}"></a>
              {% endif %}
                <center><div class="ql_button ql_button_div"><a class="waves-effect waves-light btn modal-trigger grey lighten-1 " href="#product_modal{{product.id}}">Quick Look</a></div>
              </center>
            </div>
            <div class="card-content">
              <span class="card-title textinpost">{{product.item_name}}</span>
            </div>
            <div class="card-action">
              <a href="#">$ {{product.item_price}}</a>
            </div>
          </div>
      </div>

    <div id="product_modal{{product.id}}" class="modal item m_product_details_post card"> 
    
         
            <div class="card-image">
             
              {% if product.item_photo %}
                <a href="{% url 'viewproduct' product.id %}"><img class="m_item_photo"src="{{product.item_photo.url}}"></a>
              {% endif %}
              
              
            </div>
            <div class="card-content">
              <span class="card-title textinpost"> {{product.item_name}} </span>
                {{product.item_description|linebreaks}}
            </div>
            <div class="card-action">
              <a href="#">$ {{product.item_price}}</a>
            </div>

      </div>

    
    <br>
    
    {% if forloop.counter|divisibleby:5 %}
    <br>
    {% endif %}
    {% endfor %}    
    </div>
<!-- RELOCATE THIS SECTION TO A DIFFERENT FILE LATER -->

{% endblock %}
