<!--This is the login html-->

{% extends 'aion/outside.html' %}

{% load crispy_forms_tags %}

{% block body %} 


    <div id="login-page" class="row login_div">
      <div class="col s12 z-depth-4 card-panel inner_login">
        <form class="login-form" method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
          <div class="row">
            <div class="input-field col s12 center">
              <a href="#" class="brand-logo yellow-text text-darken-3 center"><h3>Aion Wristwatches</h3></a>
            </div>
          </div>
            
            <div class="col s12">
                <div class="inner_login_wrap">
                <!--Start of form-->
                {{ form|crispy }}
                <!--End of Form-->
                </div>
            </div>
<!--
          <div class="row">
            <div class="col s11 m12 l12 ml-2 mt-3" id="div_id_username">
              <input type="checkbox" id="remember-me" />
              <label for="remember-me">Remember me</label>
            </div>
          </div>
-->

          <div class="row">
            <div class="input-field col s12">

              <center><button class="btn waves-effect waves-light login_btn orange darken-1" type="submit" name="action">{{ title }}</button></center>
            </div>
          </div>
          <div class="row">
            <center>
              <a href="{% url 'register' %}">Create Account</a>

                </center>
          </div>
        </form>
      </div>
    </div>

{% endblock %}