{% extends 'aion/outside.html' %}

{% block body%}
    <div class="centerdiv">
        <div class="innerdiv">
        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
                <h1>Are You sure you want to delete your offer?</h1>
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">Yes</button>
                    <button type="submit" class="btn btn-danger">No</button>
                </div>
            </div>
        </form>
        </div>
    </div>
{% endblock %}