<!--This is the login html-->

{% extends 'aion/outside.html' %}

{% load crispy_forms_tags %}

{% block body %} 


    <div id="login-page" class="row login_div">
      <div class="col s12 z-depth-4 card-panel inner_login">
        <form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
          <div class="row">
            <div class="input-field col s12 center">
              <a href="#" class="brand-logo yellow-text text-darken-3 center"><h3>Aion Wristwatches</h3></a>
            </div>
          </div>
            
            <div>
            <!--Start of form1-->
            {{ form1|crispy }}
            <!--End of Form1-->
            </div>
            
            
            <div>
            <!--Start of form2-->
            {{ form2|crispy }}
            <!--End of Form2-->
            </div>
            
            <div>
            <!--Start of form3-->
            {{ form3|crispy }}
            <!--End of Form3-->
            </div>
            <div>
            <!--Start of form3-->
            {{ form3|crispy }}
            <!--End of Form3-->
            </div>
            
            
         
<!--
          <div class="row">
            <div class="col s12 m12 l12 ml-2 mt-3" id="div_id_username">
              <input type="checkbox" id="remember-me" />
              <label for="remember-me">Remember me</label>
            </div>
          </div>
-->

          <div class="row">
            <div class="input-field col s12">

              <center><button class="btn waves-effect waves-light login_btn orange darken-1" type="submit" name="action">{{ title }}</button></center>
            </div>
          </div>
<!--
          <div class="row">
            <center>
              <a href="#">Create Account</a>

                </center>
          </div>
-->
        </form>
      </div>
    </div>

{% endblock %}