{% extends 'aion/outside_register.html' %}

{% load crispy_forms_tags %}

{% block body %} 

<div class="inner_register">
<div class="col s12">
  <div class="card-panel">
    <div class="input-field col s12 center">
          <a class="brand-logo yellow-text text-darken-3 center"><h3>Register</h3></a>
    </div>
      
<!--form 1-->
    <div class="row">
      <form class="col s12" method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
<!--
        <div class="row">
          <div class="input-field col s12">
            {{ form1.username }}
            <label for="username">Username</label>
          </div>
        </div>
          <div class="row">
          <div class="input-field col s12">
            {{ form1.password }}
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            {{ form1.email }}
            <label for="email" class="">Email</label>
          </div>
        </div>
--> 
          {{ form1|crispy }}
          
<!--form 2-->
        <div class="row">
          <div class="input-field col s4">
            {{ form2.first_name }}
            <label for="first_name" class="">First Name</label>
          </div>
          <div class="input-field col s4">
            {{ form2.middle_name }}
            <label for="middle_name" class="">Middle Initial</label>
          </div>

          <div class="input-field col s4">
            {{ form2.last_name }}
            <label for="last_name" class="">Last Name</label>
          </div>
        </div>
          
<!--form 3-->
          <div class="section col s12 center brand-logo">
    <h4>Billing Address</h4>
<!--    <p>stuff</p>-->
  </div>
  <div class="divider"></div>
        <div class="row">
          <div class="input-field col s2">
            {{ form3.house_number }}
            <label for="house_number" class="">House #</label>
          </div>
          <div class="input-field col s2">
            {{ form3.street }}
            <label for="street" class="">Street</label>
          </div>

          <div class="input-field col s2">
            {{ form3.subdivision }}
            <label for="subdivision" class="">Subdivision</label>
          </div>
          <div class="input-field col s2">
            {{ form3.city }}
            <label for="city" class="">City</label>
          </div>
          <div class="input-field col s2">
            {{ form3.postal_code }}
            <label for="postal_code" class="">Postal Code</label>
          </div>
          <div class="input-field col s2">
            {{ form3.country }}
            <label for="country" class="">Country</label>
          </div>
        </div>
          
<!--form 4-->
          <div class="section col s12 center brand-logo">
    <h4>Shipping Address</h4>
<!--    <p>stuff</p>-->
  </div>
  <div class="divider"></div>
        <div class="row">
          <div class="input-field col s2">
            {{ form4.house_number }}
            <label for="house_number" class="">House #</label>
          </div>
          <div class="input-field col s2">
            {{ form4.street }}
            <label for="street" class="">Street</label>
          </div>

          <div class="input-field col s2">
            {{ form4.subdivision }}
            <label for="subdivision" class="">Subdivision</label>
          </div>
          <div class="input-field col s2">
            {{ form4.city }}
            <label for="city" class="">City</label>
          </div>
          <div class="input-field col s2">
            {{ form4.postal_code }}
            <label for="postal_code" class="">Postal Code</label>
          </div>
          <div class="input-field col s2">
            {{ form4.country }}
            <label for="country" class="">Country</label>
          </div>
        </div>
      <div class="row">
        <div class="input-field col s12">

          <center><button class="btn waves-effect waves-light login_btn orange darken-1" type="submit" name="action">{{ title }}</button></center>
        </div>
      </div>
        
        
      </form>
    </div>
  </div>
</div>
</div>

{% endblock %}