#nav-mobile{
    position: absolute;
    right: 0;
}

/*
html{
    font-family: 'Spectral SC', serif;
}
*/

body{
    background-color: #F8F9F1;
}

.brand-logo{
    font-family: "Berkshire Swash";
}

/* label color */
.input-field label {
 color: black;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: black;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid black;
 box-shadow: 0 1px 0 0 black;
}

nav ul li:hover {
   background-color: #e0f2f1;
}

.main {
    margin: 0%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: gainsboro;
    padding-right:5px;
    padding-left:5px;
    
}

.textinpost{
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
}

.product_post{
    width: 20%;
    padding: 5px;

}

img.item_photo{
    height:30%;
    object-fit: contain;
}