#nav-mobile{
    position: absolute;
    right: 0;
}

html{
    font-family: 'Dosis', serif;
}

body{
    background-color: #F8F9F1;
}

.brand-logo{
    font-family: "Berkshire Swash";
    font-size: 10em;
}

/* label color */
.input-field label {
 color: black;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: black;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid black;
 box-shadow: 0 1px 0 0 black;
}
