#nav-mobile{
    position: absolute;
    right: 0;
}

/*
html{
    font-family: 'Spectral SC', serif;
}
*/

body{
    background-color: #F8F9F1;
}

.brand-logo{
    font-family: "Berkshire Swash";
}

/* label color */
.input-field label {
 color: black;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: black;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid black;
 box-shadow: 0 1px 0 0 black;
}

nav ul li:hover {
   background-color: #e0f2f1;
}

.main {
    margin: 0%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: gainsboro;
    padding-right:5px;
    padding-left:5px;
    
}

.textinpost{
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
}


.product_post{
    width: 20%;
    padding-left: 10px;
    padding-right: 10px;
/*    padding-top: 5px;*/
    display:block;
}

img.item_photo{
    height:30%;
    object-fit: contain;
}


.login_container {
    margin: 0%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-right:5px;
    padding-left:5px;
    
}

.login_div{
    width:30%;
    padding: 2%;
    padding-top: 13%; 
    
}

.login_btn{
    width:95%;
}

.inner_login_wrap{
    padding-left:15px;
    padding-right:15px;
}

/*
#div_id_username, #div_id_password, #div_id_email{
    padding-left: 20px;
    padding-right: 20px;
}
*/

/*
.required{
    padding-left: 20px;
}
*/

.login_body{
    background: url("/static/images/black and orange.png") 73% 0 no-repeat fixed;
    background-size: 2560px 1440px;
}

/*Product Details*/
.main_product_details{
    margin: 0%;
    width: 100%;
    padding-right:5px;
    padding-left:5px;
    align-content: center;
}

.product_details_post{
    width: 50%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    display:block;
}

/*modal*/
.m_product_details_post{
    width: 50%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
}

img.m_item_photo{
    height:50%;
    object-fit: contain;
}
/*end modal*/
.user_details_post{
    width: 66.66%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    display:block;
}

.prof_background{
      height:250px;
}

#profile-page-header .card-profile-image {
    width: 110px;
    position: absolute;
    top: 190px;
    z-index: 1;
    left: 40px;
    cursor: pointer;
    margin: 0;
}


.ql_button_div {
    position:absolute;
    bottom:5px;
    right: 0;
    left: 0;
    margin: auto;
}

.register_div{
    position: relative;
}

.inner_register{
  width: 66%;
  margin: auto;  
  position: absolute;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
}

select{
    display:inherit;
}

.dropdown-content{
    min-width:175px;
}

.right_btn{
    float: right;
    bottom: 7px;
}

.edit_btn{
       left: 5px;
}



