{% extends 'navigationbar.html' %}
{% load material_form %} 
{% block content %}
<div class="register_div">
<div class="inner_register">
<div class="col s12">
  <div class="card-panel">
    <div class=" col s12 center">
        <h3 class="brand-logo center">Add Product</h3>
    </div>
<form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
    {% form form=form %}{% endform %}
    <button type="submit" name="_submit" class="btn">Submit</button>
</form>
</div>
    </div>
</div>
    </div>
{% endblock %}