<!-- This file displays the content of the website -->
{% extends 'navigationbar.html' %}
{% load static %}
{% block content %}
    <!-- About tab -->
    <div id="about">
        <div class="container row">
            <div class="carousel">
                <a class="carousel-item" href="#one!"><img src="{% static "images/watch1.jpg"%}"></a>
                <a class="carousel-item" href="#two!"><img src="{% static "images/watch2.jpg"%}"></a>
                <a class="carousel-item" href="#three!"><img src="{% static "images/watch3.jpg"%}"></a>
                <a class="carousel-item" href="#four!"><img src="{% static "images/watch4.jpg"%}"></a>
                <a class="carousel-item" href="#five!"><img src="{% static "images/watch5.jpg"%}"></a>
            </div>
        </div>
        <div class="row col s12 grey-text text-darken-3">
            <p class="flow-text center-align">
                Aion Wristwatches offer you the best quality watches globally.
            </p>
        </div>
    </div>

    <!-- Contact tab -->
    <div id = "contact">
        <div class="container row">
            <div class="col s12">
                <p class="flow-text center-align">
                    For inquiries, please e-mail: fritzmanalili@gmail.com
                </p>
            </div>
        </div>
    </div>
{% endblock %}
